# Series

Data Type Name - Series

There are some differences worth noting between ndarrays and Series objects. First of all, elements in NumPy arrays are accessed by their integer position, starting with zero for the first element. A pandas Series Object is more flexible as you can use define your own labeled index to index and access elements of an array. You can also use letters instead of numbers, or number an array in descending order instead of ascending order. Second, aligning data from different Series and matching labels with Series objects is more efficient than using ndarrays, for example dealing with missing values. If there are no matching labels during alignment, pandas returns NaN (not any number) so that the operation does not fail.

Source: “Learning pandas”, Michael Heyd (Packt Publishing).


Let us explore the same:

In [1]:
import numpy as np
import pandas as pd

### Creating a Series using Pandas

You could convert a list,numpy array, or dictionary to a Series in the following manner

In [2]:
labels = ['w','x','y','z']
list = [10,20,30,40]
array = np.array([10,20,30,40])
dict = {'w':10,'x':20,'y':30,'z':40}

** Using Lists**

In [3]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
pd.Series(data=list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [5]:
pd.Series(list,labels)

w    10
x    20
y    30
z    40
dtype: int64

** Using NumPy Arrays to create Series **

In [6]:
pd.Series(array)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int64

** Using Dictionary to create series **

In [8]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

## Using an Index

We shall now see how to index in a Series using the following examples of 2 series

In [9]:
sports1 = pd.Series([1,2,3,4],index = ['Cricket', 'Football','Basketball', 'Golf'])

In [10]:
sports1

Cricket       1
Football      2
Basketball    3
Golf          4
dtype: int64

In [11]:
sports2 = pd.Series([1,2,5,4],index = ['Cricket', 'Football','Baseball', 'Golf'])

In [12]:
sports2

Cricket     1
Football    2
Baseball    5
Golf        4
dtype: int64

In [13]:
sports1['Cricket']

1

Operations are then also done based off of index:

In [14]:
sports1 + sports2

Baseball      NaN
Basketball    NaN
Cricket       2.0
Football      4.0
Golf          8.0
dtype: float64

## The END